<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" type="reset" />
    </ion-buttons>
    <ion-title>Gestión de Citas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-list-header>
      <ion-label>Crea una nueva cita</ion-label>
    </ion-list-header>


    <ion-item>
      <ion-input [(ngModel)]="citaText" label="Cita" placeholder="Agregue la cita"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="autor" label="Autor" placeholder="Agregue el autor"></ion-input>
    </ion-item>

    <ion-item>
      <ion-button (click)="onAgregar()">
        AGREGAR +
      </ion-button>
    </ion-item>

  </ion-list>

</ion-content>